:root {
	--background-color: #411;
	--main-color: #ff9;
	--drag-color: #c30;
	--line-color: #fff;
	--click-color: #264;
}

#tileLevelSVG {
	background-image: url("bg/logo.png");
	background-size2: cover;
	background-position-x: left;
	background-position-y: bottom;
	background-repeat: no-repeat;
	background-size: auto 100%;
}

