:root {
	--background-color: #101;
	--main-color: #9cf;
	--drag-color: #03f;
	--line-color: #ffc;
	--click-color: #c39;
}
#tileLevelSVG {
	background-image: url("bg/neon.png");
	background-size: cover;
	background-position-x: center;
	background-position-y: bottom;
}
/*
.toolBarButtonCircle2 {
    fill: var(--click-color);
	stroke: var(--main-color);
    stroke-width: 0.015cm;
	box-shadow: 0 0 50px 15px #48abe0;
}
.fillShadow {
	fill: var(--shadow-color);
}
*/
