:root {
	--background-color: #010;
	--main-color: #fff;
	--drag-color: #399;
	--line-color: #9cf;
	--click-color: #069;
}
#tileLevelSVG {
	background-image: url("bg/blue.png");
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
}

