:root {
	--background-color: #ccc;
	--main-color: #030;
	--drag-color: #dd6;
	--line-color: #003;
	--click-color: #090;
}
#tileLevelSVG {
	background-image: url("bg/birch2.jpg");
	background-size: cover;
	background-position-x: center;
	background-position-y: bottom;
}

