:root {
	--background-color: #101;
	--main-color: #9cf;
	--drag-color: #03f;
	--line-color: #ffc;
	--click-color: #c39;
}
#tileLevelSVG {
	background-image: url("bg/neon.png");
	background-size: cover;
	background-position-x: center;
	background-position-y: bottom;
}

