:root {
	--background-color: #030900;
	--main-color: #dff;
	--drag-color: #066;
	--line-color: #cfe;
	--click-color: #360;

}
#tileLevelSVG {
	background-image: url("bg/green.png");
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
}
