:root {
	--background-color: #fff9f6;
	--main-color: #900;
	--drag-color: #9cf;
	--line-color: #433;
	--click-color: #fc0;
}

#tileLevelSVG {

	background-image: url("bg/rus.png");
	background-repeat: no-repeat;
	background-size2: cover;
	background-position: bottom;
	background-position-x: left;
	background-position-y: top;
	background-color2: red;
	background-size: auto 33%;
}

