:root {
	--background-color: #eef6ff;
	--main-color: #000;
	--drag-color: #fcf;
	--line-color: #339;
	--click-color: #6cf;
}

#tileLevelSVG {

	background-image: url("bg/gjel.png");
	background-repeat: repeat-x;
	background-size2: cover;
	background-position: bottom;
	background-position-x2: center;
	background-position-y2: bottom;
	background-color2: red;
	background-size: 25% auto;
}

