:root {
	--background-color: #ccddee;
	--main-color: #000;
	--drag-color: #f96;
	--line-color: #003;
	--click-color: #bbdd99;
}
#tileLevelSVG {
	background-image: url("bg/birch2.jpg");
	background-size: cover;
	background-position-x: center;
	background-position-y: bottom;
}

