html {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: var(--background_color);
	font-family: 'Norican', cursive;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	touch-action: manipulation;
}

a {
	color: var(--main-color);
	text-decoration: none;
}

.contentSVG {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: var(--background-color);
}

.debug {
	fill: #ff0000;
	fill-opacity: 25%;
	stroke: #ff0000;
	stroke-opacity: 50%;

}