:root {
	--background_color: #dddfff;
}
html {
	font-family: 'Zen Kurenaido', serif, cursive;
}
.menuHead{
	height:1cm;
}
.menuContent{
	margin-top: 1.5cm;
}
#menuButtonImage{
	width:1cm;
	height:1cm;
}
/*
https://coolors.co/palette/ccddee-000000-005544-226666-660022
*/
