
:root {
	--color-debug: #800;
    
	--color-shadow: #99999966;

    --color-background: #000;
    --color-lines: #fff;
    --color-panel: #333;

	--color-focus: #ccf;
    --color-interactive: #3c3;

	--color-subtext: #99ffccff;
    --color-text: #ff9;

}
#pagediv {
    background-image: url("bg/kreml.jpg");
}
