
:root {
	


    --color-debug: #800;
    
	--color-shadow: #00000066;

    --color-background: #ddeeff;
    --color-lines: #000;
    --color-panel: #ccd;

	--color-focus: #06f;
    --color-interactive: #f00;

	--color-subtext: #0f3;
    --color-text: #006;
}
#pagediv {
    background-image: url("bg/olen.jpg");
}
