
:root {
	/*
    --background-color: #6688aa;
    --panel-color: #ccdddd;
    --line-color: #111133;
    --focus-color: #ff4455;
    --interaction-color: #9f5ba5;
    --label-color: #eee133;

    --tapSize: 50px;

    --color-default: var(--aux-color);

    --color-paper: #def;
    --color-textline: #332244;
    
    --color-green: #080;
    --color-blue: #008;
    --color-cyan: #088;
    --color-magenta: #808;
    --color-yellow: #880;
	*/

    --color-debug: #800;
    
	--color-shadow: #00ffff66;

    --color-background: #002222ff;
    --color-lines: #556677ff;
    --color-panel: #224466ff;

	--color-focus: #009933ff;
    --color-interactive: #cc6633ff;

	--color-subtext: #99ccccff;
    --color-text: #ddeeffff;

}
#pagediv {
    background-image2: url("bg/burevestnik.jpg");
}
