.fanIconLabel {
	fill: var(--drag-color);
	font-size: calc(1*var(--tapSize));
	pointer-events: none;
}
.fanSamplerIcon {
	fill: var(--line-color);
	font-size: calc(0.25*var(--tapSize));

}
.fanPerformerIcon {
	
	fill: var(--line-color);
	stroke-dasharray:15,15;
	pointer-events: none;
	
}
.fanFilterIcon {
	
	fill: var(--line-color);
	stroke-dasharray:45,45;
	pointer-events: none;
	
}

.fanConnection {
	pointer-events: none;
	stroke: var(--main-color);
	stroke-width: 0.5cm;
	stroke-linejoin: round;
	paint-order: stroke;
}
.fanStream {
	pointer-events: none;
	stroke: var(--main-color);
	stroke-width: 2cm;
	stroke-linejoin: round;
	paint-order: stroke;
}

.fanDeleteIcon{
	fill: var(--main-color);
    text-anchor: middle;
	font-size: var(--icon-2cm);
	pointer-events: none;
	font-family: "Material-Design-Iconic-Font";
}


.fanSpeakerIcon {
	fill: var(--line-color);
	font-size: calc(4*var(--tapSize));
	pointer-events: none;
	border-color: var(--main-color);
	stroke: var(--main-color);
	stroke-width: 0.1cm;
	stroke-linejoin: round;
	paint-order: stroke;
}
.fanSpeakerLabel {
	fill: var(--line-color);
	font-size: calc(4*var(--tapSize));
	pointer-events: none;
	border-color: var(--main-color);
	stroke: var(--main-color);
	stroke-width: 0.1cm;
	stroke-linejoin: round;
	paint-order: stroke;
}

.fanSpeakerIconLabel{
	font-size: calc(8*var(--tapSize));
	pointer-events: none;
	fill: var(--main-color);
	font-family: 'Material-Design-Iconic-Font';
}

.controlConnection{
	fill: var(--main-color);
	fill-opacity:25%;
}
