.fanSamplerIcon {
	fill: var(--color-panel);
	font-size: calc(4*var(--tapSize));
	pointer-events: none;
	border-color: var(--color-text);
	stroke: var(--color-text);
	stroke-width: 0.1cm;
	stroke-linejoin: round;
	paint-order: stroke;
}
