.leftBlackKey{
	fill: var(--color-subtext);
}
.leftKeyWhite{
	fill: var(--color-focus);
}


.octaveLabel025 {
    fill: var(--color-lines);
	fill-opacity: 50%;
    font-size: calc(2*0.25*var(--tapSize));
    text-anchor22: start;
}
.octaveLabel05 {
	fill: var(--color-lines);
	fill-opacity: 50%;
    font-size: calc(2*0.5*var(--tapSize));
}
.octaveLabel1 {
    fill: var(--color-lines);
	fill-opacity: 50%;
    font-size: calc(2*var(--tapSize));
}
.octaveLabel2 {
    fill: var(--color-lines);
	fill-opacity: 50%;
    font-size: calc(2*2*var(--tapSize));
}
.octaveLabel4 {
    fill: var(--color-lines);
	fill-opacity: 50%;
    font-size: calc(2*4*var(--tapSize));
}
.octaveLabel8 {
    fill: var(--color-lines);
	fill-opacity: 50%;
    font-size: calc(2*8*var(--tapSize));
}
.octaveLabel16 {
	fill: var(--color-lines);
	fill-opacity: 50%;
    font-size: calc(2*16*var(--tapSize));
}
.octaveLabel32 {
    fill: var(--color-lines);
	fill-opacity: 50%;
    font-size: calc(2*32*var(--tapSize));
}
.octaveLabel64 {
    fill: var(--color-lines);
	fill-opacity: 50%;
    font-size: calc(2*64*var(--tapSize));
}
.octaveLabel128 {
    fill: var(--color-lines);
	fill-opacity: 50%;
    font-size: calc(2*128*var(--tapSize));
}


.octaveSubLabel025 {
    fill: var(--color-lines);
	fill-opacity: 50%;
    font-size: calc(1*0.25*var(--tapSize));
    text-anchor22: start;
	pointer-events: none;
}
.octaveSubLabel05 {
	fill: var(--color-lines);
	fill-opacity: 50%;
    font-size: calc(1*0.5*var(--tapSize));
	pointer-events: none;
}
.octaveSubLabel1 {
    fill: var(--color-lines);
	fill-opacity: 50%;
    font-size: calc(1*var(--tapSize));
	pointer-events: none;
}
.octaveSubLabel2 {
    fill: var(--color-lines);
	fill-opacity: 50%;
    font-size: calc(1*2*var(--tapSize));
	pointer-events: none;
}
.octaveSubLabel4 {
    fill: var(--color-lines);
	fill-opacity: 50%;
    font-size: calc(1*4*var(--tapSize));
	pointer-events: none;
}
.octaveSubLabel8 {
    fill: var(--color-lines);
	fill-opacity: 50%;
    font-size: calc(1*8*var(--tapSize));
	pointer-events: none;
}
.octaveSubLabel16 {
	fill: var(--color-lines);
	fill-opacity: 50%;
    font-size: calc(1*16*var(--tapSize));
	pointer-events: none;
}
.octaveSubLabel32 {
    fill: var(--color-lines);
	fill-opacity: 50%;
    font-size: calc(1*32*var(--tapSize));
	pointer-events: none;
}
.octaveSubLabel64 {
    fill: var(--color-lines);
	fill-opacity: 50%;
    font-size: calc(1*64*var(--tapSize));
	pointer-events: none;
}
.octaveSubLabel128 {
    fill: var(--color-lines);
	fill-opacity: 50%;
    font-size: calc(1*128*var(--tapSize));
	pointer-events: none;
}




.samplerRowLabel025 {
    fill: var(--color-lines);
	fill-opacity: 50%;
    font-size: calc(1*0.125*var(--tapSize));
	pointer-events: none;
}
.samplerRowLabel05 {
    fill: var(--color-lines);
	fill-opacity: 50%;
    font-size: calc(2*0.125*var(--tapSize));
	pointer-events: none;
}
.samplerRowLabel1 {
    fill: var(--color-lines);
	fill-opacity: 50%;
    font-size: calc(3*0.125*var(--tapSize));
	pointer-events: none;
}
.samplerRowLabel2 {
    fill: var(--color-lines);
	fill-opacity: 50%;
    font-size: calc(4*0.125*var(--tapSize));
	pointer-events: none;
}




.octaveMark{
    fill: var(--color-lines);
	fill-opacity: 25%;
}
