
.rightMenuPanel {
    fill: var(--color-panel);
}

.rightMenuDelimiterLine {
    fill: var(--color-background);
    pointer-events: none;
}
.rightMenuFocusedDelimiter {
    fill: var(--color-focus);
    pointer-events: none;
    animation: focusFlashFill 4s linear infinite;
}

.rightMenuLabel {
    fill: var(--color-text);
    font-size: var(--label-04cm);
    pointer-events: none;
}
.rightMenuSubLabel {
    fill: var(--color-subtext);
    font-size: var(--label-04cm);
    pointer-events: none;
}

.rightMenuItemDragBG {
    stroke: var(--color-text);
    stroke-width: 0.01cm;
    fill: var(--color-focus);
    
}
.rightMenuItemActionBG {
    stroke: var(--color-text);
    stroke-width: 0.01cm;
    fill: var(--color-interactive);
}
.rightMenuItemSubActionBG {
    fill: none;
    stroke: var(--color-interactive);
    stroke-width: 0.05cm;
}

.rightMenuButtonLabel {
    fill: var(--color-interactive);
    text-anchor: middle;
    alignment-baseline22: middle;
    font-size: var(--label-05cm);
    pointer-events: none;
	font-family: "Material-Design-Iconic-Font";
}
.rightMenuIconLabel {
    fill: var(--color-text);
    text-anchor: middle;
    alignment-baseline22: middle;
    font-size: var(--icon-05cm);
    pointer-events: none;
	font-family: "Material-Design-Iconic-Font";
}


.menuButtonCircle {
    fill: var(--color-interactive);
	stroke: var(--color-text);
    stroke-width: 0.01cm;
}

.menuButtonLabel {
    fill: var(--color-text);
    text-anchor: middle;
    font-size: var(--icon-05cm);
    pointer-events:none;
	font-family: "Material-Design-Iconic-Font";
}

.currentTitleLabel {
    fill: var(--color-lines);
    font-size: var(--label-1cm);
    pointer-events: none;
	opacity: 50%;
	transform: rotate(90deg);
	transform-origin: 0cm 0cm;
}