
.rightMenuPanel {
    fill: var(--background-color);
}

.rightMenuDelimiterLine {
    fill: var(--shadow-color);
    pointer-events: none;
}
.rightMenuFocusedDelimiter {
    fill: var(--main-color);
    pointer-events: none;
    animation: focusFlashFill 4s linear infinite;
}

.rightMenuLabel {
    fill: var(--main-color);
    font-size: var(--label-04cm);
    pointer-events: none;
}
.rightMenuSubLabel {
    fill: var(--drag-color);
    font-size: var(--label-04cm);
    pointer-events: none;
}

.rightMenuItemDragBG {
    stroke: var(--main-color);
    stroke-width: 0.01cm;
    fill: var(--drag-color);
    
}
.rightMenuItemActionBG {
    stroke: var(--main-color);
    stroke-width: 0.01cm;
    fill: var(--click-color);
}
.rightMenuItemDisabledBG{
	stroke: var(--main-color);
    stroke-width: 0.01cm;
    fill: none;
}
.rightMenuItemSubActionBG {
    fill: none;
    stroke: var(--click-color);
    stroke-width: 0.05cm;
}

.rightMenuButtonLabel {
    fill: var(--click-color);
    text-anchor: middle;

    font-size: var(--label-05cm);
    pointer-events: none;
	font-family: "Material-Design-Iconic-Font";
}
.rightMenuIconLabel {
    fill: var(--main-color);
    text-anchor: middle;

    font-size: var(--icon-05cm);
    pointer-events: none;
	font-family: "Material-Design-Iconic-Font";
}


.menuButtonCircle {
    fill: var(--click-color);
	stroke: var(--main-color);
    stroke-width: 0.05cm;
}

.menuButtonLabel {
    fill: var(--main-color);
    text-anchor: middle;
    font-size: var(--icon-05cm);
    pointer-events:none;
	font-family: "Material-Design-Iconic-Font";
}

.currentTitleLabel {
    fill: var(--line-color);
    font-size: var(--label-05cm);
    pointer-events: none;
	opacity: 50%;
	transform: rotate(90deg);
	transform-origin: 0cm 0cm;
}