
.rightMenuPanel {
    fill: var(--color-panel);
}

.rightMenuDelimiterLine {
    fill: var(--color-background);
    pointer-events: none;
}
.rightMenuFocusedDelimiter {
    fill: var(--color-focus);
    pointer-events: none;
}

.rightMenuLabel {
    fill: var(--color-text);
    font-size: 0.5cm;
    pointer-events: none;
}
.rightMenuSubLabel {
    fill: var(--color-subtext);
    font-size: 0.4cm;
    pointer-events: none;
}

.rightMenuItemDragBG {
    stroke: var(--color-text);
    stroke-width: 0.01cm;
    fill: var(--color-focus);
    
}
.rightMenuItemActionBG {
    stroke: var(--color-text);
    stroke-width: 0.01cm;
    fill: var(--color-interactive);
}
.rightMenuItemSubActionBG {
    fill: none;
    stroke: var(--color-interactive);
    stroke-width: 0.05cm;
}

.rightMenuButtonLabel {
    fill: var(--color-interactive);
    text-anchor: middle;
    alignment-baseline22: middle;
    font-size: 0.5cm;
    pointer-events: none;
	font-family: "Material-Design-Iconic-Font";
}
.rightMenuIconLabel {
    fill: var(--color-text);
    text-anchor: middle;
    alignment-baseline22: middle;
    font-size: 0.5cm;
    pointer-events: none;
	font-family: "Material-Design-Iconic-Font";
}


.menuButtonCircle {
    fill: var(--color-interactive);
	stroke: var(--color-text);
    stroke-width: 0.01cm;
}

.menuButtonLabel {
    fill: var(--color-text);
    text-anchor: middle;
    alignment-baseline222: middle;
    font-size: 0.5cm;
    pointer-events2: none;
	
	font-family: "Material-Design-Iconic-Font";
}