
.mixFieldBg025 {
    fill: var(--color-panel);
    stroke: var(--color-toolbar);
    stroke-linejoin: round;
    stroke-width: calc(0.01*var(--tapSize));
}

.mixFieldBg05 {
    fill: var(--color-panel);
    stroke: var(--color-toolbar);
    stroke-linejoin: round;
    stroke-width: calc(0.02*var(--tapSize));
}

.mixFieldBg1 {
    fill: var(--color-panel);
    stroke: var(--color-toolbar);
    stroke-linejoin: round;
    stroke-width: calc(0.04*var(--tapSize));
}

.mixFieldBg2 {
    fill: var(--color-panel);
    stroke: var(--color-toolbar);
    stroke-linejoin: round;
    stroke-width: calc(0.08*var(--tapSize));
}

.mixFieldBg4 {
    fill: var(--color-panel);
    stroke: var(--color-toolbar);
    stroke-linejoin: round;
    stroke-width: calc(0.16*var(--tapSize));
}

.mixFieldBg8 {
    fill: var(--color-panel);
    stroke: var(--color-toolbar);
    stroke-linejoin: round;
    stroke-width: calc(0.32*var(--tapSize));
}

.mixFieldBg16 {
    fill: var(--color-panel);
    stroke: var(--color-toolbar);
    stroke-linejoin: round;
    stroke-width: calc(0.64*var(--tapSize));
}

.mixFieldBg32 {
    fill: var(--color-panel);
    stroke: var(--color-toolbar);
    stroke-linejoin: round;
    stroke-width: calc(1.28*var(--tapSize));
}

.mixFieldBg64 {
    fill: var(--color-panel);
    stroke: var(--color-toolbar);
    stroke-linejoin: round;
    stroke-width: calc(2.56*var(--tapSize));
}

.mixFieldBg128 {
    fill: var(--color-panel);
    stroke: var(--color-toolbar);
    stroke-linejoin: round;
    stroke-width: calc(5.12*var(--tapSize));
}

.mixFieldBg256 {
    fill: var(--color-panel);
    stroke: var(--color-toolbar);
    stroke-linejoin: round;
    stroke-width: calc(10.24*var(--tapSize));
}
