#pluginDiv {
	position: absolute;
	z-index: 999;
	left:0.5cm;
	right:0.5cm;
	top:0.5cm;
	bottom:0.5cm;
	border-style: solid;
	border-width: 0.125cm;
	border-color: #66666699;
	display: flex;
    flex-direction: column;
	visibility: hidden;
	border-radius: 0.25cm;
}
#pluginFrame{
	left:0.0cm;
	right:0.0cm;
	top:1.0cm;
	bottom:0.0cm;
	border:none;
	background-color: #66666633;
	flex-basis: 0;
    flex-shrink: 1;
    flex-grow: 1;
	border-radius: 0.0cm 0.0cm 0.125cm 0.125cm;
	overflow: scroll;
  scrollbar-color: red orange;
  scrollbar-width: thin;
}
#pluginHeader{
	width:100%;
	height:1cm;
	background-color: var(--color-interactive);
	border-radius: 0.125cm 0.125cm 0.0cm 0.0cm;
	flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#pluginTitle{
	color: var(--color-text);
    font-size: var(--label-04cm);
	padding-left: 0.5cm;
	padding-top: 0.25cm;
	flex-grow: 1;
}
#pluginCancel{
	color: var(--color-text);
    font-size: var(--label-075cm);
	width:1cm;
	height:1cm;
	text-align: center;
	padding-top: 0.1cm;
	background-color2: green;
	border-color2: var(--color-text);
	border-style2: solid;
	border-width2: 0.0025cm;
	border-radius2:1cm;
	margin2: 0.05cm;
	font-family: "Material-Design-Iconic-Font";
	vertical-align22: middle;
	alignment-baseline22: middle;
	cursor:pointer;
}
#pluginRefresh{
	color: var(--color-text);
    font-size: var(--label-075cm);
	width:1cm;
	height:1cm;
	text-align: center;
	padding-top: 0.1cm;
	font-family: "Material-Design-Iconic-Font";
	background-color2: brown;
	cursor:pointer;
}
