.samplerRowBorder{
	fill: var(--line-color);
	fill-opacity:25%;
    stroke: none;
}
.samplerDrumDotFocused{
	fill: var(--main-color);
	fill-opacity:99%;
    stroke: none;
}
.samplerDrumDotBg{
	fill: var(--main-color);
	fill-opacity:75%;
    stroke: none;
}
.samplerDrumDotActive{
	fill: var(--click-color);
	fill-opacity2:75%;
    stroke: none;
}
.samplerDrumDotLine{
	fill: var(--line-color);
	fill-opacity:50%;
    stroke: none;
}
