.timeMeasureMark{
    fill: var(--color-lines);
	fill-opacity: 25%;
}

.timeMarkButton{
    fill: var(--color-interactive);
	
}
.timeMarkButtonBorder{
    fill: var(--color-text);
	
}

.timeBarNum025 {
    fill: var(--color-lines);
	fill-opacity: 90%;
    font-size: calc(0.25*var(--tapSize));
    text-anchor22: start;
}
.timeBarNum05 {
	fill: var(--color-lines);
	fill-opacity: 90%;
    font-size: calc(0.5*var(--tapSize));
}
.timeBarNum1 {
    fill: var(--color-lines);
	fill-opacity: 90%;
    font-size: calc(1*var(--tapSize));
}
.timeBarNum2 {
    fill: var(--color-lines);
	fill-opacity: 90%;
    font-size: calc(2*var(--tapSize));
}
.timeBarNum4 {
    fill: var(--color-lines);
	fill-opacity: 90%;
    font-size: calc(4*var(--tapSize));
}
.timeBarNum8 {
    fill: var(--color-lines);
	fill-opacity: 90%;
    font-size: calc(8*var(--tapSize));
}
.timeBarNum16 {
	fill: var(--color-lines);
	fill-opacity: 90%;
    font-size: calc(16*var(--tapSize));
}
.timeBarNum32 {
    fill: var(--color-lines);
	fill-opacity: 90%;
    font-size: calc(32*var(--tapSize));
}
.timeBarNum64 {
    fill: var(--color-lines);
	fill-opacity: 90%;
    font-size: calc(64*var(--tapSize));
}
.timeBarNum128 {
    fill: var(--color-lines);
	fill-opacity: 90%;
    font-size: calc(128*var(--tapSize));
}








.timeBarInfo025 {
    fill: var(--color-lines);
	fill-opacity: 90%;
    font-size: calc(0.5*0.25*var(--tapSize));
    text-anchor2: end;
}
.timeBarInfo05 {
    fill: var(--color-lines);
	fill-opacity: 90%;
    font-size: calc(0.5*0.5*var(--tapSize));
    text-anchor2: end;
}
.timeBarInfo1 {
    fill: var(--color-lines);
	fill-opacity: 90%;
    font-size: calc(0.5*1*var(--tapSize));
    text-anchor2: end;
}
.timeBarInfo2 {
	fill: var(--color-lines);
	fill-opacity: 90%;
    font-size: calc(0.5*2*var(--tapSize));
    text-anchor2: end;
}
.timeBarInfo4 {
	fill: var(--color-lines);
	fill-opacity: 90%;
    font-size: calc(0.5*4*var(--tapSize));
    text-anchor2: end;
}
.timeBarInfo8 {
    fill: var(--color-lines);
	fill-opacity: 90%;
    font-size: calc(0.5*8*var(--tapSize));
    text-anchor2: end;
}
.timeBarInfo16 {
	fill: var(--color-lines);
	fill-opacity: 90%;
    font-size: calc(0.5*16*var(--tapSize));
    text-anchor2: end;
}
.timeBarInfo32 {
    fill: var(--color-lines);
	fill-opacity: 90%;
    font-size: calc(0.5*32*var(--tapSize));
    text-anchor2: end;
}
.timeBarInfo64 {
	fill: var(--color-lines);
	fill-opacity: 90%;
    font-size: calc(0.5*64*var(--tapSize));
    text-anchor2: end;
}
.timeBarInfo128 {
	fill: var(--color-lines);
	fill-opacity: 90%;
    font-size: calc(0.5*128*var(--tapSize));
    text-anchor2: end;
}
