::-webkit-scrollbar2 {
	display: none;
}
:root {
    --background-color: #ccdddd;
    --aux-color: #66ccaa;
	--second-color: #9f5ba5;
    --main-color: #111133;
    --inter-color: #ff4455;

    --color-default: var(--aux-color);

    --color-red: #990000;
	--color-green: #009900;
	--color-blue: #000099;
	--color-cyan: #009999;
	--color-magenta: #990099;
	--color-yellow: #999900;
    --color-korn: #666666;
    
}

#filesinput {
	display: none;
}

html {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	touch-action: manipulation;
}

#tileLevelSVG {
	width: 100%;
	height: 100%;
	background-color: var(--background-color);
	user-select: none;
	touch-action: manipulation;
	background-image2: url("img/beatbuilder.png");
	background-size: cover;
	stroke-linecap: round;
}

.debug {
	fill: #ff0000;
	fill-opacity: 25%;
	stroke: #ff0000;
	stroke-opacity: 75%;
}

